{% extends 'base.html' %}
{% load static %}
{% block title %}Basic feed page{% endblock title %}
{% block link %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@500&display=swap"
  rel="stylesheet"> {% endblock link %}
{% block style %}
<style>
  body {}

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5rem;
  }

  .grid-item {
    padding: 2rem 3rem;
    margin: 2rem;
    border: 2px solid black;
    text-align: center;
  }

  .grid-item-head {
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }

  .grid-item-body {
    text-align: center;
    font-family: sans-serif;
    font-size: large;
  }

  img {
    height: 5rem;

  }

  .grid-img {
    display: flex;
    justify-content: center;
  }

  /* h3{
      align-items: center;
    } */
</style>
{% endblock style %}
{% block js %}
<script>
  let ar = document.getElementsByClassName('styl');
  Array.from(ar).forEach((element) => {
    element.innerHTML = element.innerText
  })
</script>
{% endblock js %}

{% block body %}

{% comment %} <div class="container p-5">
  <!-- {% for post in allposts %}
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    style="user-select: auto;">
    <div class="col p-4 d-flex flex-column position-static" style="user-select: auto;">
      <strong class="d-inline-block mb-2 text-primary" style="user-select: auto;">World</strong>
      <h3 class="mb-0" style="user-select: auto;">{{post.Title}}</h3>
      <div class="mb-1 text-muted" style="user-select: auto;">{{post.Time}}</div>
      <p class="card-text mb-auto" style="user-select: auto;">
      <div class="styl">{{post.content |safe| truncatechars:300}}</div>
      </p>
      <a href="{% url 'blogPost' post.slug  %}" class="stretched-link" style="user-select: auto;">Read more</a>
    </div>
  </div>
  {% endfor %} -->
</div> {% endcomment %}
<div class="grid">
  {% for post in allposts %}
    <div class="grid-item">
      <div class="grid-item-head">
        <div class="grid-img">
          <img src="{% static 'profile.png' %}" alt="">
        </div>
        <h3>{{ post.Title }}</h3>
        
      </div>
      <p>{{post.Time}}</p>
      <div class="grid-item-body">
        {{post.content |safe| truncatechars:300}}
      </div>
      <div class="grid-end">
        <a href="{% url 'blogPost' pid=post.sno %}">Read more</a>
      </div>
    </div>
  {% endfor %}
  </div>

</div>
<div class="css-1vs2kf0" data-testid="editor-canvas-artboard">

</div>

{% endblock body %}