{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block style %}
    <style>
        .text{
            display: flex; 
            justify-content: center; 
            align-items: center;
            margin-top: 3rem;
        }
        img{
            width: 13%;
        }
        .text-2{
            padding-left: 2rem;
        }
    </style>
{% endblock style %}

{% block body %}
<div class="txt">
    <div class="text">
        
        <img src="{% static 'profile.png' %}" alt="">
        <div class="text-2">
            <h4>{{user}}</h3>
            Blogs publushed: {{cnt}}
        </div>
    </div>
    <form action="" method="post" class="d-flex align-items-center justify-content-center">
        {% csrf_token %}
        <input type="file" name="user_profile" id="">
        <button>upload</button>
    </form>
</div>
    
{% endblock body %}