{% extends 'base.html' %}
{% load static %}
{% block title %}Choose interest tags{% endblock title %}
{% block link %}<link rel="stylesheet" href="{% static 'tags.css' %}">{% endblock link %}


{% block navbarcolor %}navbar-light{% endblock navbarcolor %}
{% block body %}

<form action="{% url 'blogHome' %}" method="post">
    {% csrf_token %}
<div class="container my-4">
    <h4>Select your interest tags</h4>
    <ul class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox"  name="Technology">
          Technology
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="Health">
          Health
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="Science">
          Science
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="Business">
          Business
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="History">
          History
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="Economics">
          Economics
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="Sports">
          Sports
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="Education">
          Education
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="Food">
          Food
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="Spirituality">
          Spirituality
        </li> 
      </ul>
      <button class="btn btn-primary my-3 d-flex-end">Proceed</button>
</div>
</form>


{% endblock body %}